body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to bottom, gray, white);
    color: white;
    height: 100vh;
    width: 100vw;

}

.menu {
    visibility: hidden;
    position: absolute;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu div {
   
    background: #3399ff;
    width: 40vmin;
    height: 15vmin;
    margin-bottom: 3vmin;
    border-radius: 3vmin;
    text-align: center;
    line-height: 15vmin;
    font-size: 3vmin; 
}

.menu div:hover {
    background: #99ccff;   
}

.game {
    visibility: hidden;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    width: 75vmin;
    height: 80vh;
    justify-content: center;
}

.block {
    height: 25vmin; 
    width: 25vmin;
    background: #3399ff;
    border: 1vmin solid rgba(255, 255, 255, 0.50);
    box-sizing: border-box;
    line-height: 23vmin;
    text-align: center;
    font-size: 16vmin;
    border-radius: 2vmin;
}

.block:hover {
    background: #99ccff;   
}

.show {
    visibility: visible;
}