body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white));
    background: -webkit-linear-gradient(top, gray, white);
    background: -o-linear-gradient(top, gray, white);
    background: linear-gradient(to bottom, gray, white);
    color: white;
    height: 100vh;
    width: 100vw;

}

.menu {
    visibility: hidden;
    position: absolute;
    height: 80vh;
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu div {
   
    background: #3399ff;
    width: 40vmin;
    height: 15vmin;
    margin-bottom: 3vmin;
    -webkit-border-radius: 3vmin;
            border-radius: 3vmin;
    text-align: center;
    line-height: 15vmin;
    font-size: 3vmin; 
}

.menu div:hover {
    background: #99ccff;   
}

.game {
    visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 75vmin;
    height: 80vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.block {
    height: 25vmin; 
    width: 25vmin;
    background: #3399ff;
    border: 1vmin solid rgba(255, 255, 255, 0.50);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 23vmin;
    text-align: center;
    font-size: 16vmin;
    -webkit-border-radius: 2vmin;
            border-radius: 2vmin;
}

.block:hover {
    background: #99ccff;   
}

.show {
    visibility: visible;
}